- name: purge old docker and containerd
  become: true
  tags:
    - docker
    - install
    - debian
    - update
    - remove
  apt:
    name:
      - docker
      - docker-engine
      - docker.io
      - containerd
      - runc
    purge: true
    state: absent
  when: ansible_facts['os_family'] == "Debian"


- name: Install Docker
  become: true
  tags:
    - docker
    - install
    - update
    - debian
    - kali
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    update_cache: true
    state: latest
  when: ansible_facts['os_family'] == "Debian"

- name: Enable Docker service
  become: true
  tags:
    - docker
    - systemd
    - services
    - debian
    - kali
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: docker
  when: ansible_facts['os_family'] == "Debian"

- name: Add docker_user to docker group
  become: true
  tags:
    - docker
    - systemd
    - services
    - debian
    - kali
  user:
    name: "{{ docker_user }}"
    groups: docker
    append: true

