- name: change to zsh 
  become: false
  tags: 
    - shell
    - zsh 
    - change_shell
  ansible.builtin.shell:
    cmd: "chsh -s $(which zsh) yogurt"
  when: ansible_facts['user_shell'] is not regex("/zsh$") and ansible_facts['distribution'] == "Pop!_OS"
