[defaults]
inventory = inventory
private_key_file = ~/.ssh/ansible
nocows = 1
interpreter_python = auto_silent
# callbacks_enabled = timer, profile_tasks, profile_roles
callback_whitelist = community.general.timestamp, community.general.counter_enabled, profile_tasks, profile_roles
callback_enabled = community.general.timestamp, community.general.counter_enabled, profile_tasks, profile_roles
timeout = 5

[privilege_escalation]
# defaults to asking for the sudo passwd when using become. (why isn't this the default)
become_ask_pass = True
