- name: Boot VM (shannon)
  tags:
    - prepare
    - boot
    - shannon
  community.proxmox.proxmox_kvm:
    vmid: 116
    # unprivileged: false
    api_user: ansible@pve
    api_password: "{{ proxmox_passwd }}"
    api_host: blade.home
    state: started
  when: inventory_hostname == "blade"


- name: Boot VM (kali)
  tags:
    - prepare
    - boot
    - kali-pmx
  community.proxmox.proxmox_kvm:
    vmid: 106
    # unprivileged: false
    api_user: ansible@pve
    api_password: "{{ proxmox_passwd }}"
    api_host: blade.home
    state: started
  when: inventory_hostname == "blade"


- name: Boot VM (jellyfin)
  tags:
    - prepare
    - boot
    - kali-pmx
  community.proxmox.proxmox_kvm:
    vmid: 104
    # unprivileged: false
    api_user: ansible@pve
    api_password: "{{ proxmox_passwd }}"
    api_host: blade.home
    state: started
  when: inventory_hostname == "blade"


- name: Boot VM (nextcloud)
  tags:
    - prepare
    - boot
    - kali-pmx
  community.proxmox.proxmox_kvm:
    vmid: 113
    # unprivileged: false
    api_user: ansible@pve
    api_password: "{{ proxmox_passwd }}"
    api_host: blade.home
    state: started
  when: inventory_hostname == "blade"


- name: Wait for shannon to boot
  tags:
    - prepare
    - boot
    - shannon
  ansible.builtin.wait_for:
    host: shannon.home
    port: 22
    timeout: 900
    connect_timeout: 10
    sleep: 1


- name: Wait for kali to boot
  tags:
    - prepare
    - boot
    - kali-pmx
  ansible.builtin.wait_for:
    host: kali.home
    port: 42
    timeout: 900
    connect_timeout: 10
    sleep: 1


- name: Wait for jelyfin to boot
  tags:
    - prepare
    - boot
    - kali-pmx
  ansible.builtin.wait_for:
    host: jellyfin.home
    port: 42
    timeout: 900
    connect_timeout: 10
    sleep: 1


- name: Wait for nextcloud to boot
  tags:
    - prepare
    - boot
    - kali-pmx
  ansible.builtin.wait_for:
    host: nextcloud.home
    port: 42
    timeout: 900
    connect_timeout: 10
    sleep: 1
