- name: Ensure vimplug dir exists
  become: false
  tags:
    - filedir
    - vim
    - vimplug
    - debian
    - install
  file:
    path: ~/.local/share/nvim/site/autoload/
    state: directory
    recurse: yes
  when: ansible_facts['os_family'] == "Debian"

- name: download vimplug
  become: false
  tags:
    - install
    - curl
    - vim
    - debian
    - vimplug
  get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: ~/.local/share/nvim/site/autoload/plug.vim
  when: ansible_facts['os_family'] == "Debian"
