- name: ensure gpg is installed
  become: true
  tags:
    - ros
    - ros-install
  apt:
    name:
      - gpg
      - software-properties-common
    state: latest
  when: ansible_facts['os_family'] == "Debian"

## TODO: find a new way to do this.
## this shell command requires user intervention
# - name: Add repo for ros into sources list
#   become: true
#   tags:
#     - ros
#     - ros-install
#   shell:
#     cmd: 'add-apt-repository universe'
#   when: ansible_facts['os_family'] == "Debian"

- name: Add gpg key for ros
  become: true
  tags:
    - ros
    - ros-install
  ansible.builtin.apt_key:
    url: https://raw.githubusercontent.com/ros/rosdistro/master/ros.key
    keyring: /usr/share/keyrings/ros-archive-keyring.gpg
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Add repo for ros into sources list
  become: true
  tags:
    - ros
    - ros-install
  shell:
    cmd: bash -c 'echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu $(. /etc/os-release && echo $UBUNTU_CODENAME) main" | sudo tee /etc/apt/sources.list.d/ros2.list > /dev/null' 
  when: ansible_facts['os_family'] == "Debian"

- name: install ros base packages
  become: true
  tags:
    - ros
    - ros-install
  apt:
    name: "{{ ros_pkgs }}"
    state: latest
    update_cache: yes
  when: ansible_os_family == "Debian"

