- name: install qemu-guest-agent (DEBIAN)
  become: true
  tags:
    - install
    - apt
    - debian
    - qemu
  apt:
    name: qemu-guest-agent
    state: latest
    update_cache: yes
  when: 
    - ansible_facts['os_family'] == "Debian"
    - "'proxmox_guest_ctx' not in group_names"


- name: install qemu-guest-agent (ARCH)
  become: true
  tags:
    - install
    - pacman
    - arch
    - qemu
  pacman:
    name: qemu-guest-agent
  when: 
    - ansible_facts['os_family'] == "Archlinux"
    - "'proxmox_guest_ctx' not in group_names"

- name: enable qemu agent on boot
  become: true
  tags:
    - systemd
    - qemu
  ansible.builtin.service:
    name: qemu-guest-agent
    enabled: true
    state: started
  when: "'proxmox_guest_ctx' not in group_names"
