- name: clone powerline10k
  become: true
  tags:
    - install
    - apt
    - git_installs
    - debian
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    depth: 1
    dest: /usr/share/zsh-theme-powerlevel10k
  when: ansible_facts['os_family'] == "Debian"
